/*----------------------------------------------GENERAL STYLES---------------------------------------------------- */
/* Define general styles that apply across all screen sizes */

/* Set default font styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------MEDIA QUERIES---------------------------------------------------- */
/* Apply styles specific to different screen sizes using media queries */

/* Styles for screens below 400px */
@media screen and (max-width: 400px) {
    /* Adjustments for header */
    .header {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    /* Adjustments for banner content */
    .bannerContent {
        width: 100%; /* Adjust width to fill screen */
    }

    /* Adjustments for name and role */
    .name {
        font-size: 20px; /* Reduce font size */
    }
    .role {
        font-size: 16px; /* Reduce font size */
    }

    /* Adjustments for buttons */
    .b1, .b2 {
        width: 100%; /* Make buttons full width */
    }

    /* Adjustments for timeline items */
    .about-section .timeline .timeline-item {
        left: 10%; /* Adjust position */
        width: 80%; /* Adjust width */
    }

    /* Adjustments for footer */
    .footer {
        font-size: 14px; /* Reduce font size */
    }
}

/* Styles for screens between 401px and 750px */
@media screen and (min-width: 401px) and (max-width: 750px) {
    /* Adjustments for header */
    .header {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    /* Adjustments for buttons */
    .b1, .b2 {
        width: 100%; /* Make buttons full width */
    }

    /* Adjustments for timeline items */
    .about-section .timeline .timeline-item {
        left: 15%; /* Adjust position */
        width: 70%; /* Adjust width */
    }

    /* Adjustments for footer */
    .footer {
        font-size: 14px; /* Reduce font size */
    }
}

/* Styles for screens between 751px and 999px */
@media screen and (min-width: 751px) and (max-width: 999px) {
    /* Adjustments for header */
    .header {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    /* Adjustments for timeline items */
    .about-section .timeline .timeline-item {
        left: 15%; /* Adjust position */
        width: 70%; /* Adjust width */
    }

    /* Adjustments for footer */
    .footer {
        font-size: 14px; /* Reduce font size */
    }
}

/* Styles for screens with a minimum width of 1000px and a maximum width of 1155px */
@media screen and (min-width: 1000px) and (max-width: 1155px) {
    /* Adjustments for header */
    .header {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    /* Adjustments for footer */
    .footer {
        font-size: 14px; /* Reduce font size */
    }
}
